body{
    margin: 0;
    font-family: 'Markazi Text', serif;
    background-color: rgb(134, 101, 59);
    font-size: large;
}
.container{
    display: grid;
    background-repeat: no-repeat;
} 

/*Navigation*/

.navigation {
    padding: 10px;
    background-color: white;
    width: 100%;
    position: fixed;
    height:50px;
    margin-bottom: 200px;
}
.navigation ul li {
    display: inline-flex;
}
.navigation ul li a {
    margin-right: 100px;
    color: black;
    text-decoration: none;
}

.navigation ul li em {
    margin-left: 500px;
}

.navigation ul li a:hover {
    color: rgb(134, 101, 59);
    transition: color 0.5s;
}

.active a {
    color: rgb(134, 101, 59) !important;
} 

.sub-menu {
    display: none;
}

.navigation ul li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: -6px;
    text-align: left;
    background: white;
    width: 130px;
}

.navigation ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
    
}

.navigation ul li:hover .sub-menu ul li {
    margin: 15px;
    background: transparent;
    display: block;
    margin-left: -30px;
}

.navigation ul li:hover .sub-menu ul li a:hover {
    color: rgb(134, 101, 59);
    transition: color 0.5s;
}


/*Content*/
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    padding-top: 100px;
    margin: auto;
    margin-top: 200px;
    width: 60%;
    font-size: x-large;
}
.content p{
    text-align: center;
}
.picture img{
    clip-path: circle();
}
.work{
    background-color: whitesmoke;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    font-size: x-large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.personal{
    background-color: white;
    width: 50%;
    margin-right: 100px;
    margin-left: 50px;
}


